# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.swp

# Optional: if you use PM2 or similar tools
pids/
*.pid

# Coverage (for tests)
coverage/
mpesa-logs.txt
static/
uploads/
